{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	{% block title %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet"> -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

</head>
<body style="background-color: white;">

	<div class='container' style="display: inline; text-align: right; margin-top: ">
		<ul>
			<a href="{% url 'index' %}" style="color:black; font-family:'Open Sans'; font-size: 16px; margin-right:20px; display: inline;"><span class="glyphicon glyphicon-home"></span></a>
			<a href="{% url 'about' %}" style="font-family:'Open Sans'; color:black; font-size: 16px; margin-right:20px; display: inline;">About</a>
			<a href="{% url 'vf' %}" style="font-family:'Open Sans'; color:black; margin-right:20px; font-size: 16px;  display: inline;">Vision & Further Development</a>
		</ul>
	</div>

	<div class='container-fluid' style="margin-top: -63px; margin-left: -12px">
		<img class='img-responsive' style='display:inline;' src="{% static '/images/shit.jpeg' %}"/>
	</div>

{% block content %}

{% endblock %}

</body>
</html>