{% extends 'Website/base.html' %}
{% load staticfiles %}

{% block title %}
	<title>Music</title>
{% endblock %}

{% block content %}

<div class="ui center aligned container" align="center">
	<div class="row">
		<h3>1) Click to generate new music from Neural Network, wait few seconds after clicking for network to load</h3> <br>
		<div class='btn btn-danger' onClick="generate()">Generate Music</div><br><br>
	</div>
</div>
<br>

<div id="loader" class="ui center aligned container" align="center">
	<div class="row">
		<img src="http://www.voki.com/images/ajax-loader.gif" height="100" width="100"></img>
	</div>
</div>

<div id="play" class="ui center aligned container" align="center">
	<div class="row">
		<h3>2) Play the music generated above</h3><br>
		<button id='butt' class='btn btn-success' onClick="operate()">Play</button><br><br>
	</div>
</div>
<br>

<div id="status" class="ui center aligned container" align="center">
	<div class="row">
		<h3><span id="MIDIjs.message" style="color: green">Initializing ...</span></h3>
	</div>
</div>
<br><br>
<div id="warning" class="ui center aligned container" align="center">
	<div class="row">
		<h3 style="color: red;">WARNING: The Neural Network can only handle one client at a time as of now, overloading will crash the network</h3>
	</div>
</div>

<div id="dummy">Example text</div>

<script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>
<script type="text/javascript">
	$('#status').hide();
	$('#play').hide();
	$('#dummy').hide();
	$('#loader').hide();
	function operate()
	{
		if($('#butt').text() == 'Play')
		{
			$('#status').show();
			MIDIjs.play('/media/output.mid');
			$('#butt').removeClass('btn-success');
			$('#butt').addClass('btn-danger');
			$('#butt').text('Stop');
		}
		else
		{
			$('#status').hide();
			MIDIjs.stop();
			$('#butt').removeClass('btn-danger');
			$('#butt').addClass('btn-success');
			$('#butt').text('Play');	
		}
		
		//Music Status
 		var message_span = document.getElementById('MIDIjs.message');
  		message_span.innerHTML = MIDIjs.get_audio_status();

  		MIDIjs.message_callback = display_status;
  		function display_status(message) {
     	message_span.innerHTML = message;
		};
	}

	function generate()
	{
		$('#play').hide();
		$('#loader').show();
		$('#dummy').load('{% url 'play_it' %}', function(){
			$('#loader').hide();
			$('#play').show();
		});
	}
</script>

{% endblock %}