{% extends 'Website/base.html' %}
{% load staticfiles %}

{% block title %}
	<title>AI Mozart</title>
{% endblock %}

{% block content %}

<br><br>
<div class="ui center aligned container" align="center">
	<div class="row">
		<div class='panel panel-default' style="width: 50%">
		<div class='panel-heading'>
				<h2 style="font-family:'Chivo'">Generate New Musical Composition</h2>
	</div>
		<div class='panel-body'>
		<div class='btn btn-primary' onClick="generate(1)">Happy</div><br><br>
		<div class='btn btn-primary' onClick="generate(2)">Sad</div>
		<br><br>
	</div>
	</div>
	</div>
</div>
<br>

<div id="loader" class="ui center aligned container" align="center">
	<div class="row">
		<img src="http://www.voki.com/images/ajax-loader.gif" height="100" width="100"></img>
	</div>
</div>

<div id="play" class="ui center aligned container" align="center">
	<div class="row">
		<h3> Play The Generated Composition</h3><br>
			<button id='butt' class='btn btn-success' onClick="operate()">Play</button>
			<a href='/media/outfile.mp3' id='butt' onClick="download()" class='btn btn-info'><span class="glyphicon glyphicon-download-alt"></span></a><br><br>
			<!--<audio controls>
			  <source src="/media/outfile.mp3" type="audio/mpeg">
			Your browser does not support the audio element.
			</audio>-->
	</div>
</div>
<br>

<div id="status" class="ui center aligned container" align="center">
	<div class="row">
		<h3><span id="MIDIjs.message" style="color: green">Initializing ...</span></h3>
	</div>
</div>
<br><br>

<div class="container">
	<div id="warning" class="ui center aligned container" align="center">
		<div class="row">
			<h3 style="color: #167254;"><span style='margin-right:15px; color: black;' class="glyphicon glyphicon-hand-right"></span>ENJOY THE NEURAL NETWORK IN ACTION <span style="color: black; margin-left: 9px;" class="glyphicon glyphicon-hand-left"></span></h3>
		</div>
	</div>
</div>

<div id="dummy">Example text</div>

<script type='text/javascript' src='http://www.midijs.net/lib/midi.js'></script>
<script type="text/javascript">
	$('#status').hide();
	$('#play').hide();
	$('#dummy').hide();
	$('#loader').hide();

	function operate()
	{
		if($('#butt').text() == 'Play')
		{
			$('#status').show();
			//MIDIjs.play('/media/output.mid');
			var sound = new Howl({
  				src: ['sound.mp3']
			});

			sound.play();
			$('#butt').removeClass('btn-success');
			$('#butt').addClass('btn-danger');
			$('#butt').text('Stop');	
		}
		else
		{
			$('#status').hide();
			sound.stop();
			$('#butt').removeClass('btn-danger');
			$('#butt').addClass('btn-success');
			$('#butt').text('Play');	
		}
		
		//Music Status
 		var message_span = document.getElementById('MIDIjs.message');
  		message_span.innerHTML = MIDIjs.get_audio_status();

  		MIDIjs.message_callback = display_status;
  		function display_status(message) {
     	message_span.innerHTML = message;
		};
	}

	function generate(val)
	{
		$('#play').hide();
		$('#loader').show();
			$('#status').hide();
			//sound.stop();
			$('#butt').removeClass('btn-danger');
			$('#butt').addClass('btn-success');
			$('#butt').text('Play');
		if(val==1)
		$('#dummy').load('{% url 'play_it_happy' %}', function(){
			$('#loader').hide();
			$('#play').show();
		});
		else
		$('#dummy').load('{% url 'play_it_sad' %}', function(){
			$('#loader').hide();
			$('#play').show();
		});
	}
</script>

{% endblock %}